.navbar {
    background-color: #fff;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 1rem 0.8rem;
}

.slider {
    position: relative;
    width: 100%;
}

.slider img {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transition: all 0.35s linear;
    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    -ms-transition: all 0.35s linear;
    -o-transition: all 0.35s linear;
}

#cart img {
    width: 25px;
    height: 25px;
}

#avatar img {
    width: 25px;
    height: 25px;
}

.slider-control {
    width: 100%;
    height: 100%;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: #fff;
    padding: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#prev {
    left: 4%;
}

#next {
    right: 4%;
}

#next img,
#prev img {
    height: 12px;
    width: 12px;
}

#next:active,
#prev:active {
    opacity: 0.5;
}

#promo-percent {
    padding: 0.2rem;
    background-color: var(--orange-light);
    color: var(--orange);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.35rem;
}

#promo-price {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-weight: 700;
    font-size: 1.3rem;
}

#add-cart {
    padding: 1rem 1.5rem;
    background-color: var(--orange);
    border-radius: 8px;
    width: 100%;
    font-weight: 700;
    box-shadow: 0px 25px 15px -8px var(--orange-light);
}

#quantity-info {
    padding: 1rem 1.5rem;
    background-color: var(--grayish-blue);
    border-radius: 8px;
    width: 100%;
    font-weight: 700;
}

.title {
    font-size: 1.5rem;
}

.price {
    font-size: 1.5rem;
}