.navbar {
    background-color: #fff;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 1rem 0.8rem;
    position: sticky;
    top: 0;
    z-index: 150;
}

#menu-list {
    position: fixed;
    left: 0;
    background-color: #fff;
    top: 0;
    width: 70%;
    z-index: 250;
    height: 100%;
    transition: all 0.35s ease-in;
    -webkit-transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -ms-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
}

#menu-list ul {
    padding-top: 1rem;
    padding-left: 1.2rem;
}

.slider {
    position: relative;
    width: 100%;
}

.slider img {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transition: all 0.35s linear;
    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    -ms-transition: all 0.35s linear;
    -o-transition: all 0.35s linear;
}

#cart {
    position: relative;
}

#cart img {
    width: 25px;
    height: 25px;
}

#cart-badge {
    background-color: var(--orange);
    padding: 0rem 0.3rem;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    color: var(--white);
}

#avatar img {
    width: 25px;
    height: 25px;
}

.slider-control {
    width: 100%;
    height: 100%;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: #fff;
    padding: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#prev {
    left: 4%;
}

#next {
    right: 4%;
}

#next img,
#prev img {
    height: 12px;
    width: 12px;
}

#next:active,
#prev:active {
    opacity: 0.5;
}

#promo-percent {
    padding: 0.2rem;
    background-color: var(--orange-light);
    color: var(--orange);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.35rem;
}

#promo-price {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-weight: 700;
    font-size: 1.3rem;
}

#add-cart {
    padding: 1rem 1.5rem;
    background-color: var(--orange);
    border-radius: 8px;
    width: 100%;
    font-weight: 700;
    box-shadow: 0px 25px 15px -8px var(--orange-light);
    font-size: 1.2rem;
    color: var(--white)
}

#quantity-info {
    padding: 1rem 1.5rem;
    background-color: var(--grayish-blue);
    border-radius: 8px;
    width: 100%;
    font-weight: 700;
}

.title {
    font-size: 1.5rem;
}

.price {
    font-size: 1.5rem;
}

#add-quantity,
#remove-quantity {
    font-size: 2rem;
}

#quantity-number {
    font-size: 1.5rem;
    font-weight: 700;
}

.backdrop {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s eas;
    -moz-transition: all 0.35s eas;
    -ms-transition: all 0.35s eas;
    -o-transition: all 0.35s eas;
}

.open-menu {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    z-index: 250;
}

.close-menu {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}